
/*.container{background-color: blueviolet;width: 100%;height:500px}*/
body{background-image: url("../images/VIP PIC/3290371.jpg");background-attachment: fixed;background-repeat: no-repeat;height: 100%;width: 100%;background-size: cover;background-position:center}
.bg-color
{
    background-color: cadetblue;
}



/* Make the image fully responsive */    
  .carousel-inner img {
      width:100%;
      height:600px;
}

 .zoom
{
  transition: transform 1s;
}

  


    .zoom:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
        transform: scale(1.1); }
         


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


button{width: 100%}
.text-center{padding: 25px 0px 0px 0px}

 div.gallery { 
 margin-top: 40px;
     
}


div.gallery img {
  width: 100%;
  height:250px;
}

.jumb1{background-image: url( "../images/VIP PIC/wallpic.jpg");
  height:auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;    
  background-size: cover;}

.jumb3{background-color: green;
height: 50%;
margin-top: 0px;
}
.new{font-family: Arial, Helvetica, sans-serif;
font-size: 23px}

ul.timeline {
    list-style-type: none;
    position: relative;
	color: black;font-size:17px
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li > a {color: 
lightcoral;font-weight: 500;font-size: 20px
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
	
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
h4
{
    text-align: center;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background-color: beige;height: 30%;
}

/* Slides */
.mySlides {
  display: none;text-align: center;
 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 30px;
  color: #888;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-selection: none;
}

/* The dot/bullet/indicator container */
.dot-container {
  
  padding:25px;
  background-color: transparent;
	
}
.dot,#img{transition: transform 1s}
.dot,#im{transition: transform 1s}
.dot,#em{transition: transform 1s}
.dot,#pic{transition: transform 1s}

.dot,#img:hover{-ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
         transform: scale(1.3);}
.dot,#im:hover{-ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
         transform: scale(1.3);}
.dot,#em:hover{-ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
         transform: scale(1.3);}
.dot,#pic:hover
{-ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
         transform: scale(1.3);}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 55px;
  width: 55px;
  margin: 0 2px;
  background-color:  whitesmoke;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: transparent;
}

/* Add an italic font style to all quotes */
q {font-style: italic;font-size: 20px;font-weight: 700}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/*
.new
{
    opacity: 0;
}

.new,.animated{
    opacity: 1;
}

*/


#imag1
{
    opacity: 0;
}
#imag1 .animated{
    opacity: 1;
}
#imag1
{
	animation-delay: 2s;
}


#imag2
{
	opacity: 0;
}

#imag2 .animated
{
	opacity: 1;
}

#imag3
{
	opacity: 0;
}

#imag3 .animated
{
	opacity: 1;
}


#imag4
{
	opacity: 0;
}

#imag4 .animated
{
	opacity: 1;
}
#demo
{
	opacity: 0;
}
#demo .animated
{
	opacity: 1;

}
.new
{
	opacity: 0;
}

.new .animated
{
	opacity: 1;
}
.jumb
{
	opacity: 0;
}

.jumb .animated
{
	opacity: 1;
}
.jumb2
{
	opacity: 0;
}

.jumb2 .animated
{
	opacity: 1;
}
#test
{
	opacity: 0;
}

#test .animated
{
	opacity: 1;
}
/*
#test2
{
	opacity: 0;
}

#test2 .animated
{
	opacity: 1;
}
*/

.footin{margin-top: 250px;background-color: whitesmoke;height: 400px;width:100%}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}

.fa:hover {
    opacity: 0.7;
    background-color: midnightblue;
    color: whitesmoke;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;

}

.container {
	
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

